<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WorldHotel Admin{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-dashboard.css') }}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="admin-container fade-in">
        {% block body %}{% endblock %}
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
